/* Mobile & Tables */
@media (max-width: 1023px) {
    .none-table-mobile {
        display: none;
    }
    
    :root {
        --header-height: 68px;
        --navbar-height: 0px;
    }
    #header {
        position: fixed;
        z-index: 10;
        width: 100%;
        top: 0;
    }
    #app_container {
        margin-top: calc(var(--header-height) + var(--header-sort-bar-height));
    }
    #header .header_navbar {
        display: none!important;
    }
    .header_search-logo {
        width: 170px;
        text-align: center;
    }
    .home_filter {
        display: none;
    }
    .header_search-cart {
        position: fixed;
        top: var(--header-height);
        width: 100%;
    }
    .header_search-cart::after {
        display: none;
    }
    .header_sort-list  {
        display: flex;
    }
    .app_content {
        padding: 10px 8px;
    }
    .home_product {
        padding: 0 0;
    }
    .mobile_category {
        display: block;
    }
    .header_search-classIcon {
        margin-left: 0;
    }
    .app_footer {
        margin-top: 25px;
        padding: 5px 10px;
        text-align: left;
    }
    .trickger_hover {
        margin-top: 30px;
        padding: 0px 20px;
    }
    .image_container {
        height: 129px;
    }
    #carouselId {
        display: none;
    }
}
/* Tables */
@media (min-width: 740px) and (max-width: 1023px) {
    .none_table {
        display: none;
    }
    .header_cart-name {
        text-overflow: inherit;
        overflow: inherit;
    }
    .home_product-shoppingcart {
        top: 65.9%
    }
    .cart_section-wrapper {
        margin: 25px 15px 0 15px;
    }
    .cart_header {
        display: none;
    }
    .cart_section-price {
        text-align: center;
    }
    .cart_section-flex {
        display: flex;
    }
    .cart_header-price {
        text-align:center;
    }
    .cart_section-active span {
        margin-right: 0;
    }
    .cart_section-info {
        white-space: inherit;
        width: 134px;
        font-size: 1.3rem;
        font-weight: 500;
    }
    .cart_footer {
        margin-right: 15px;
        margin-left: 15px;
    }
    .cart_footer-buy {
        margin-right: 0;
        margin-left: 0;
    }.cart_section-checkbox { 
        padding: 0;
    }
    .trickger_post-list{ 
        position: absolute;
        bottom: 87px;
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        width: 95%;
        margin-bottom: 0;
    }
    .container_url {
        margin: 0 15px;
    }
}
/* Mobile */
@media (max-width: 739px) {
    .none_mobile {
        display: none
    }
    .header_search-logo {
        text-align: center;
    }
    .header_search {
        justify-content: space-between;
    }
    .header_search-inputSearch {
        height: 46px;
        width: 100%;
        display: flex;
        background-color: #ffffff;
        justify-content: space-between;
        align-items: center;
        font-size: 1.4rem;
        border-radius: 3px;
        position: fixed;
        top: var(--header-height);
        left: 0;
        right: 0;
        padding: 0px 5px;
        z-index: 1;
        animation: searchA linear 0.4s;
        display: none;
    }
    .header_search-history {
        position: fixed;
        top: calc(var(--header-height) + var(--header-sort-bar-height));
        width: 100%;
        left: 0;
        border-top: 1px solid #80808045;
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 1px 2px #80808045;
        z-index: 1;
    }
    @keyframes searchA {
        0% {
            opacity: 0;
            top: calc(var(--header-height) / 2);
        }
        100% {
            opacity: 1;
            top: var(--header-height);
        }
    }
    .home_page-item {
        list-style: none;
        font-size: 1.6rem;
        min-width: 18px;
        height: 28px;
        margin: 0 0px;
        line-height: 28px;
        text-align: center;
        display: block;
    }  
    .app_footer {
        text-align: center;
    }
    .home_product-shoppingcart {
        top: 67.4%;
    }
    .cart_header {
        display: none;
    }
    .cart_section-wrapper {
        margin: 20px 15px 0 15px;
    }
    .cart_section-wrapperChild {
        padding: 5px;
    }
    .cart_section-product {
        width: 8rem;
    }
    .cart_section-title {
        padding: 0px 5px;
    }
    .cart_section-flex {
        display: block;
    }
    .cart_section-active span {
        margin-right: 0;
    }
    .cart_section-checkbox {
        min-width: 19px;
        padding: 0 0px;
    }
    .cart_section-info {
        font-size: 1.4rem;
    }.cart_section-money {
        padding: 5px;
    }
    .cart_section-price{
        font-size: 1.4rem;
        margin-right: 5px;
    }
    .cart_section-dola {
        font-size: 1.4rem;
        margin-left: 5px;
    }
    .cart_footer-buy {
        padding: 10px 21px;}
    .image_container {
        height: 69px;
    }
    .container_url {
        display: none;
    }
}