.MuiOutlinedInput-input {
    font-size: 2rem!important;
}
.MuiInputLabel-outlined {
    font-size: 2rem!important;
}
.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(9px, -17px) scale(0.75)!important;
}
.MuiButton-label {
    color: #808080; margin-top: 3px; font-weight: 700;font-size: 1.05rem;
}