.MuiContainer-root {
    padding: 0!important;
}
.MuiPaginationItem-root {
    font-size: 1.8rem!important;
}
.MuiPagination-ul {
    justify-content: center;
    padding-bottom: 30px!important;
    padding-top: 30px!important;
}
.MuiPaginationItem-icon {
    font-size: 3rem !important;
}
.Mui-selected {
    background-color: #EE4D2D!important;
}
.MuiButtonBase-root:focus {
    outline:0;
}